.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

h1 {
  text-transform: capitalize;
  text-align: center;
}

.addAnimal {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.animalList {
  background-color: #F9F9F9;
  padding: 10px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  text-align: end;
}

.animalListItem {
  width: 25%;
  font-size: medium;
  padding-right: 10px;
}